
<footer>
  <div class="container pt-5">
    <div class="footer-box footer-logo" itemscope itemtype="http://schema.org/Organization">
      <a class="navbar-brand" itemprop="url" href="index.html">
        <!-- <img itemprop="logo" 
      src="../../assets/images/logo.png" title="11 plus Logo" alt="11 plus" class="img-responsive"> -->
      11plus Hep Club
      </a>
    </div>
    <div class="footer-box footer-links">
      <a>Contact Us</a>
      <a>About</a>
    </div>
    <div class="footer-box footer-links">
      <a>How it Works</a>
      <a>Privacy Policy</a>
    </div>
    <div class="footer-box footer-links">
      <a>FAQ's</a>
      <a href = "#">Blog</a>
    </div>
    <div class="footer-box footer-social">
      <a href="https://www.facebook.com/11plushelpclub/?fb_dtsg_ag=AdzpEbT-QsdRMWbcVbA2Dg82PBuIJQZhbbR5rrycNvBgsA%3AAdy_iYF8jfRmYlZxnkDv-UOAiIrmHPm183vJORwVwd67iA" target="_blank" class="facebook">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
      <a href="#" target="_blank" class="twitter" rel="nofollow">
        <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
      </a>
      <a href="#" target="_blank" class="instagram" rel="nofollow">
        <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <div class="container">
    <div class="copyright wow slideInLeft">Copyright &copy; 2018 11 plus help club. All rights reserved.</div>
  </div>
</footer>
    